@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 400px;
    border-collapse: collapse;
}

td, th {
    padding: 7px;
    border: 1px solid black;
    text-align: center;
}
td{
    padding: 3px;
    font-size: 0.9em;
}
thead, .black{
    background: grey;
    color: white;
}

tbody>tr:nth-child(5n) {
    background-color: rgb(134, 134, 134);
}